/*--------------------------------------------------------------
# Main Content Layout Classes
--------------------------------------------------------------*/
body.home {
    background: #004080;
}

.site-content {
    background-image: url( 'images/bg.jpg' );
    background-position: left top;
    background-repeat: repeat-x;

    .constrain {
        overflow: hidden;
    }
}

.entry-content {
    background-color: rgba( $lightest, 0.5 );
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 5px;
}

.sidebar {
    background-color: $lightest;
    border: 3px solid $accent;
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 20px 15px;
    text-align: center;
}

// HOMEPAGE
.homepage-map {
    display: none;
}

.mobile-video {
    text-align: center;
}

.homepage-about {
    background-color: $accent;
    color: $lightest;
    display: block;

    .constrain {
        background-position: right top;
        background-repeat: no-repeat;
        border-bottom: 3px solid $lightest;
        height: auto;
        padding: 10px;
        position: relative;
        top: 0;
        max-width: 1024px;
    }
}

// DEFAULT PAGE
.snow {

    .constrain {
        background-image: url( 'images/snow-graphic.png' );
        background-position: top left;
        background-repeat: no-repeat;
        padding: 20px 10px 0;
    }
}

// PRODUCTS CATEGORY PAGE
.procat-btn {
    background-color: $lightest;
    border: 1px solid $accent;
    border-radius: 10px;
    display: block;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        -webkit-box-shadow: 0 0 0 3px $accent;
        box-shadow: 0 0 0 3px $accent;
    }
}

// CONTACT PAGE
.page-template-contact {

    .sidebar {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin: 0 0 20px 0;
    }
}

.dotted-block {
    border-bottom: 2px dotted #a6a6a6;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    text-align: center;

    &:last-of-type {
        border: 0;
        margin: 0;
    }

    .location {
        font-weight: 700;
        margin: 0 0 20px 0;

        &:last-of-type {
            margin: 0;
        }
    }
}

.text-block {
    overflow: hidden;

    &.phone,
    &.email {
        font-size: 22px;
        font-weight: 700;
    }
}

// CATEGORY
.product-list.flexxed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.product-list-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $lightest;
    border: 2px solid $accent;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.1em;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;

    img {
        margin: 10px 0 0 0;
    }
}

.products-1,
.products-2,
.products-3,
.products-4,
.products-5,
.products-6 {
    margin: 0 0 10px 0;
    width: 47%;
}

// PRODUCTS
.sidebar {

    h3 {
        border-bottom: 2px dotted #a6a6a6;
        padding: 0 0 5px 0;
    }
}

.standard-features {

    ul {
        margin: 0 0 10px 0;
    }

    li {
        border-bottom: 2px dotted #a6a6a6;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 3px 0;
        padding: 0 0 3px 0;
    }
}

.product-options {

    ul li {
        position: relative;

        &:before {
            content: '';
        }
    }
}

.product-tables {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.product-cta-btns.flexxed {
    flex-direction: row;
    justify-content: space-between;
}

.product-cta-btns {
    padding: 20px 0 0 0;

    .btn-lg {
        width: 48%;
    }
}

.single-prod-table {
    font-size: 14px;
    margin: 0 0 30px 0;

    &:last-of-type {
        margin: 0;
    }
}

.product-tables {

    table {
        border: 1px solid;
        width: 100%;
    }

    th {
        border: 1px solid;
        font-weight: 700;
        text-align: center;
    }

    td {
        border: 1px solid;
        padding: 3px;
        text-align: center;
    }
}

// TEMP CALC PAGE
.temp-calc {
    text-align: center;
}

.temp-calc {

    .form-button {
        border: none;
        display: inline-block;
        margin: 0 5px;
    }
}

// BLOG
.blog {
    
    .entry-footer {
        clear: both;
    }
}