.site-footer {
    background-color: $accent;
    color: #cde6ff;
    padding: 10px 0;

    a {
        color: $lightest;
        font-weight: 500;
    }
}

.footer-logo,
.site-info {
    text-align: center;
}

.site-info {
    font-size: 14px;
}

.comp-info {
    line-height: 1.35rem;
    margin: 0 0 10px 0;

    iframe {
        margin: 0 0 0 10px;
        position: relative;
        top: 7px;
        width: 68px !important;
    }
}