.site-header {
    background-color: $lightest;
}

.site-branding {
    padding: 5px 0;
    text-align: center;
}

.header-boasts {
    display: none;
}

.site-title {

    a {
        display: inline-block;
    }

    .site-name {
        display: none;
    }
}